repos:

  -   repo: https://github.com/pre-commit/pre-commit-hooks
      rev: v4.4.0
      hooks:
      -   id: check-yaml
      -   id: end-of-file-fixer
      -   id: trailing-whitespace
      -   id: debug-statements
          language_version: python3

  -   repo: https://github.com/psf/black
      rev: 25.11.0
      hooks:
      -   id: black
          args: [--safe]

  -   repo: local
      hooks:
      -   id: pylint
          name: pylint
          files: .
          entry: pylint
          language: system
          types: [python3]
          args: [
            "-rn",
            "-sn",
            "--rcfile=.pylintrc",
          ]
